<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_ur">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import custom_ur urdf file -->
    <xacro:include filename="$(find ur5_custom_description)/urdf/custom_ur.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="custom_ur.ros2_control.xacro" />


    <xacro:custom_ur_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
